<address class="Address u-marginAn text-center">
	<span class="Address-text">{{config.address.street1}}</span><br/>
	<span class="Address-text">{{config.address.suburb}}, {{config.address.state}} {{config.address.postcode}}</span><br/>
	<abbr class="Address-abbr" title="Phone">Phone: </abbr>

	<span class="Address-text">{{config.phone}}</span><br/>

	<abbr class="Address-abbr" title="Email">Email: </abbr>
	<a class="Address-text" href="mailto:{{config.email}}">{{config.email}}</a><br/>
</address>
